<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>660560667580-k324s5l0g206pfqcdmp32qomjn0mssmg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.660560667580-k324s5l0g206pfqcdmp32qomjn0mssmg</string>
	<key>API_KEY</key>
	<string>AIzaSyC4FwzLE2lKnXX0Bs1NpO_o3l564-qEaao</string>
	<key>GCM_SENDER_ID</key>
	<string>660560667580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nicolopadovan.H-Connect</string>
	<key>PROJECT_ID</key>
	<string>h-connect-9669e</string>
	<key>STORAGE_BUCKET</key>
	<string>h-connect-9669e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660560667580:ios:c13563240a13bf0ad401b9</string>
</dict>
</plist>